@font-face{
    font-family: 'Segoe UI';
    src: url(../SEGOEUI.TTF);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Segoe UI';
}
body h1{
    font-family: 'Segoe UI';
    color: #09246C;

}
main{
    display: flex;
    width: 1000px;
    height: 1000px;
    margin: auto;
    justify-content: space-between;
}

body h1{
    font-size: 24px;
    padding-left: 13%;
}

.kotakChat{
    width: 65%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
   
    
}

.kotakChat .pesanpersonal{
    padding: 10px;
    width: 60%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
}
.kotakChat .foto{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}
body a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.kotakChat .message{
    width: 100%;
}

.kotakChat .message .isi{
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    font-family: 'Segoe UI';
    background-color: #c0fefc;
}
.kotakChat .message .waktu{
    font-size: 12px;
    padding-left: 10px;
    padding-top: 4px;
    font-family: 'Segoe UI';
    color: gray;
}

.kotakChat .message h2{
   color: inherit;
   padding-bottom: 5px;
}


.kotakInfo{
    width: 33%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: gray;justify-content:space-between; */
    align-items:flex-end;
    font-family: 'Segoe UI';
    
}

.kotakChat .chat{
    width: 100%;
    height: 90%;
    background-color: #dce0df;
    padding: 10px;
    /* background-color: #09246C; */
    overflow: scroll;
    overflow-x: hidden;
    /* border: 1px solid #09246C; */
    border-radius: 4px;
    /* box-shadow: 0px 1px 6px 2px #09246C; */
}
.kotakChat .send{
    width: 100%;
    height: 10%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: nowrap;

}
.kotakChat input{
    width:90%;
    height: 90%;
    background-color: #dce0df;
    /* border: 1px solid #09246C; */
    border: none;
    color: black;
    text-indent: 4px;
    border-radius: 4px 0px 0px 4px;
    margin-top: 5px;
    

}

.kotakChat input:focus{
    outline: #09246C;
    /* outline-width: 2px;
    outline-style: outset; */
    font-family: "Segoe UI";
    color: #09236c;
}

.kotakChat input::placeholder{
    background-color: #dce0df;
    color: gray;
    font-family: "Segoe UI";
}

.kotakChat button{
    width: 10%;
    height: 95%;
    background-color: white;
    /* background-color: #F2F6FA; */
    background-color: #dce0df;
    /* margin: 4px; */
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 32px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;

}

.kotakInfo .pengumpulan{
    width: 100%;
    height: 45%;
    border: 1px solid #09246C;
    overflow: scroll;
    margin-bottom: 5px;
    padding: 5px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    /* background-color: black; */

}
.kotakInfo .judulInfo{
    width: 100%;
    height: 30px;
    background-color: #09246C;
    display: flex;
    align-items: center;
}
.kotakInfo .judulInfo p{
    display: block;
    /* padding: 5px 0px; */
    color: white;
    margin-left: 10px;
    font-size: 18px;
    
}

.kotakInfo .listTugas{
    margin-left: 10px;
}

.listTugas h2{
    margin-top: 10px;
    margin-bottom: 5px;
}

.listTugas input{
    margin-top: 5px;
}

.listTugas button {
    margin-top: 5px;
	font-family: 'Segoe UI';
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	border-radius: 0px;
	border: 0px #dcdcdc solid;
	padding: 6px 16px;
	background-color: #09236c;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.kotakInfo .pengumuman{
    width: 100%;
    height: 35%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #09246C;
    padding: 10px;
}

.kotakInfo .judulInfo .announce{
    margin-bottom: 5px;
    font-weight: bold;
}

.kotakInfo .pengumuman p{
    color: gray;
    font-size: 12px;
    padding: 10px 0px;
}

