@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {
    height: 90%;
    font-family: 'Mulish', sans-serif;
  }
  body {
   height: 100%;
  }

.penutup{
    height: 100%;
    display: flex;
   
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.644);
    
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    color: #09246C;
    

}
.penutup .login{
    position: relative;
    
    padding: 100px 100px;
   
    background-color: white;
    top: 7%; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 1px 6px 4px #888888;
    border-radius: 4px;

}

.login h2{
    font-size: 24pt;
    text-align: center;
}
.login h3{
    font-size: 14pt;
    text-align: center;
    margin-bottom: 20px;
}

.login .alert{
    display: block;
    padding: 10px 16px;
    border: 2px solid #ff0000;
    font-size: 12pt;
    color: red;
    font-weight: 900;
    border-radius: 2px;
    background-color: rgba(243, 230, 230, 0.568);
    margin-bottom: 10px;
}



.login p{
    padding-bottom: 15px;
    font-size: 12pt;
} 

.login .wellcome{
    font-size: 20px;padding-bottom: 15px;
}


.login form{
    text-align: center;
}

.login input{
    height: 35px;
    width: 300px;
    border-radius: 0px;
    margin-bottom: 10px;
    border: 2px solid rgb(58, 63, 112); ;
    outline:   rgb(58, 63, 112);
    color: #09246C;
    font-size: 16px;
    padding: 1px;
    border-radius: 2px;
    text-indent: 4px;
}

.login input[type=email]{
    color: #09246C;
}


.login input::placeholder{
    background-color: white;
    color: gray;
    font-size: 16px;
}
.login input:focus{
    border: 3px solid #09246C;
    padding: 0px;
}

.login button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.login button{
    margin-top: 3px;
    height: 45px;
    width: 306px;
    background-color: rgb(58, 63, 112);
    color: white;
    outline: none;
    margin-bottom: 10px;
    transition: 0.3s;
    font-size: 13pt;
}
.login button:hover{
    background-color:#09246C;
}
.login .cpr{
    position: absolute;
    bottom: 10px;
}
.login input:-webkit-autofill{
    box-shadow: 0 0 0 30px white inset;
}